<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://si.geilicdn.com/hz_img_03940000015bfa82d3120a026860_28_28_unadjust.png' rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet"
          href="https://assets.geilicdn.com/v-components/cdn/??0.0.4/commoncss/normalize.min.css,0.0.4/commoncss/common.min.css,0.3.2/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <title>@@title@@</title>
</head>
<body>
_include('./index.less?_ac=less_csstag')